@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap');

/*
! font-family: 'Playfair Display', serif; 
? regular 400 500 bold 700 900
*/



@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* 
! font-family: 'Crimson Text', serif;
? Regular 400
? Regular 400 Italic
? SemiBold 600
? SemiBold 600 Italic
? Bold 700
? Bold 700 Italic

*/

.title-h1-defaut-branco{
    color: white;
    font-size: 5rem;
    text-align: center;
}
.title-h2-defaut-branco{
    color: white;
    font-size: 5rem;
    text-align: center;
}
.title-p-defaut-branco{
    color: white;
    font-size: 2rem;
    text-align: center;
}

.title-h1-defaut-preto{
    color: black;
    font-size: 5rem;
    text-align: center;
}
.title-h2-defaut-preto{
    color: black;
    font-size: 5rem;
    text-align: center;
}
.title-p-defaut-preto{
    color: black;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}
