.main-servicos{
    height: 120vh;
    width: 100%;
    background-color: black;
    position: relative;
}

.main-wave-5{
    margin-bottom: -2px;
}

.main-servicos h1{
    color: white;
    font-size: 4rem;
    text-align: center;
}
.main-servicos p{
    color: white;
    font-size: 2rem;
    text-align: center;
}
.main-servicos-pacotes{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto;
    justify-content: center;
    gap: 20px;
}
.main-servicos-pacote-valor{
    height: 700px;
    width: 400px;
    background-color: rgba(128, 128, 128, 0.637);
}