/* ! layout sobre */ 
.main-sobre{
    width: 70%;
    height: max-content;
    margin: 0 auto;


    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap :5rem;

    justify-content: center;
}
/* !----------- */
.text-defaut-h1{
    font-size: 5rem;
    font-weight: 400;
}
.text-defaut-h2{
    font-style: italic;
    font-size: 3rem;
}
.text-defaut-p{
    text-indent: 1cm;
    font-size: 2.5rem;
    padding: 10px 0px;
    text-align: justify;
}
.main-section{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    
    display: grid;
    
    grid-template-areas:
            "sobre-ensaio video-ensaio"
            "video-fotografa sobre-fotografa"
    ;
    justify-content: center;
}

main{
    width: 100%;
    height: max-content;
}
#item-1,#item-3{
    display: flex;
    flex-direction: column;
}
#item-2 video,img{
    width: 100%;
}
#item-3 video,img{
    height: 100%;
}
.main-sobre > div {
    max-height: 70rem;
    max-width: 70rem;
    min-height: 15rem;
    min-width: 15rem;

}
#item-1{
    text-align: right;
}
#item-3{
    text-align: left;
}
.element-4 {
    background: rgba(0, 0, 0, 0.055);

    background-position: center;
    background-size: cover;
    width: 120rem;
    height: 120rem;
    position: absolute;
    top:10%;
    left: 10%;
    transform: translate(-50%, -50%);

    animation: border-fluid 10s linear infinite;
}
.element-5 {
    background: rgba(0, 0, 0, 0.034);
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 80%;
    position: absolute;
    top:60%;
    right: 30%;
    transform: translate(50%,-50%);
    animation: border-fluid3 10s linear infinite;
}




