@import url(fonts.css);
.title {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    overflow: hidden;
}

/* ! div direita do titulo */
.title-text {
    position: relative;
    width: 50%;
    height: 100%;
}

.title-text-align {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    flex-direction: column;
}

/* Configurações do titulo,subtitulo e frase */
.title-text-align h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-align: left;
    font-size: 9rem;
    color: rgb(255, 255, 255);
}

.title-text-align h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-align: left;
    font-size: 5rem;
    color: rgb(255, 255, 255);
}

.title-text-align p {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: 400;
    text-align: left;
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.title-text-align h1 h2 {
    padding-bottom: 2rem;
}

/* configuração da imagem esquerda */
.title-img {
    width: 50%;
    height: 100%;

    position: relative;
}

/* !!!! animações */
.element-1 {
    background: rgba(136, 136, 136, 0.301);
    background-image:url(../imgs/main/perfil1.png);
    background-position: center;
    background-size: cover;
    max-width: 40rem;
    max-height: 40rem;
    min-height: 35rem;
    min-width: 35rem;

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: border-fluid 5s linear infinite;
}

.element-2 {
    background-image: radial-gradient(#a0a0a0,#050505);
    width: 30rem;
    height: 30rem;

 

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: border-fluid2 10s linear infinite;
}
.element-3 {
    background: rgba(43, 43, 43, 0.603);
    /* background-image:url(../imgs/perfil1.png);
    background-position: center;
    background-size: cover; */
    width: 40rem;
    height: 50rem;

  


    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: border-fluid3 5s linear infinite;
}

@keyframes border-fluid {

    0%,
    100% {
        border-radius: 48% 52% 47% 53% / 44% 49% 51% 56%;
    }

    33% {
        border-radius: 70% 30% 26% 74% / 44% 37% 63% 56%;

    }

    66% {
        border-radius: 56% 44% 57% 43% / 30% 70% 30% 70%;
    }
}

@keyframes border-fluid2 {

    0%,
    100% {
        border-radius: 70% 30% 26% 74% / 44% 37% 63% 56%;
    }

    33% {
        border-radius: 56% 44% 57% 43% / 30% 70% 30% 70%;

    }

    66% {
        border-radius: 48% 52% 47% 53% / 44% 49% 51% 56%;
    }
}
@keyframes border-fluid3 {

    0%,
    100% {
        border-radius: 70% 30% 26% 74% / 44% 37% 63% 56%;
    }

    33% {
        border-radius: 48% 52% 47% 53% / 44% 49% 51% 56%;
        
    }
    
    66% {
        border-radius: 56% 44% 57% 43% / 30% 70% 30% 70%;
    }
}

.vertical-line {
    width: 1px;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;

    position: absolute;
    right: 0px;
}

