.main-galeria{
    width: 100%;
    height: 90rem;
    height: max-content;    
    position: relative;
    bottom: 0px;
}

.main-galeria-margin{
    width: 100%;
    background-color: #f5f5dc;
    position: relative;
    top: -1px;
}

.main-galeria-margin h1{
    font-size: 4rem;
    text-align: center;
    color:black;
    padding-bottom: 1rem;
}
.main-galeria-margin > p{
    font-size: 2rem;
    text-align: center;
    color:black;
    padding-bottom: 5rem;
}

.main-galeria-photos{
    width: 70%;
    position: relative;    
    margin: 0 auto;

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    gap: 2rem;
}

.g2{
    position: relative;
    padding-bottom: 4rem;
}

.main-galeria-card{
    max-height: 70rem;
    max-width: 70rem;
    min-height: 15rem;
    min-width: 15rem;

    
    box-shadow: 1px 1px 20px rgb(223, 223, 223);
}
.main-galeria-card img{
    width: 100%;
    height: 100%;
}
.main-galeria-card img:hover{
    transition: 1s;
    box-shadow: 1px 1px 20px rgb(128, 128, 128);
    background-color: rgb(255, 255, 255);
}


/* !configurações de borda */
.main-wave-2{
    position: relative;
    bottom:-2px;
    background-color: transparent;
}

.main-wave-3{
    position: relative;
    bottom:1px;
    background-color: transparent;
}


.tag{
    top: 5rem;
    left: 5rem;
    height: 10rem;
    width: 10rem;
    position: absolute;
    animation: tag-rotate 60s linear infinite;
    filter: invert();
    background-color: #0000005b;
    padding: 1rem;
    border-radius: 50%;
}

